<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<h2>Laxmi Narayan</h2>
Data Scientist

<h3><i>I am interested in data science because I like to analyze data and interested in knowing
    whatever are going on around me in the world.</i></h3>

<h3>Here is the formula to find area of rectangle</h3>

In [1]:
def area_rect(a, b):
    return a*b
area_rect(5, 4)

20

<h3>Bullet list</h3>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<h3>Numbered list</h3>
<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>
<h3>Tables of 3 persons</h3>
<table>

    <th>Person 1</th>
    <th>Person 2</th>
    <th>Person 3</th>

  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>